@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll::-webkit-scrollbar {
  width: 7px;
}

.scroll::-webkit-scrollbar-track {
  background: #eee0e0;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #d9d8d8;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #cfcdcd;
}

.custom-table th {
  background-color:#ff6984;
  color: white;
  font-size: medium;
}

.number-input {
  width: 100px; /* Ancho del input */
  text-align: center; /* Alineación de texto al centro */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 4px; /* Bordes redondeados */
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    display: block; /* Asegura que las flechas estén visibles */
    margin: 0; /* Sin margen */
}